# dependencies
node_modules/

# environment
.env

# runtime folders
uploads/*
!uploads/.gitkeep

videos/*
outputs/*
!outputs/.gitkeep

# logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# GCP
service-account-key.json